html{
    height: 100%;
    background-image: url(https://image.freepik.com/free-vector/virus-pandemic-background_1390-1295.jpg);
background-position: center;

background-repeat: no-repeat;
background-size:cover;
}
body{

 margin:0 5%; 
height: 100%;
color: white;
}
main{
    display:grid;
    grid-template-columns: 1fr  1fr;
}
.img{
    position: absolute;
    bottom:0px;
    /* position:fixed; */
    right: 0px;
}
.h{
font-weight: 1000;
text-align: center;
text-transform: uppercase;
font: bold;
text-decoration:underline;

}

.first{
/* text-align: center; */
}
/* .f1{
float: right;
max-right: 200px; */

}
