img{
    margin : auto;
    display: block;
    margin-top: 50px;
    margin-bottom: 45px;
}
body{
    background-color:#B9345A;
}
.first{
    background-color: #ffffff;
box-shadow: 0 5px 10px rgba(0,0,0,0.4);
}
.second{
    width:105%;
}
h1{
    font-size:90px;
    text-align: center;
    
}
p{
   margin-right: 100px; 
   text-align: right;
}@media screen and (max-width:800px){
    body{
        background-color:thistle;
    }
    
}